.auto.deps
.config.cmd
.config.old
.configured_i586
.configured_arm
.configured_arm_basic
build_i586/*
build_arm/*
package/config/.depend
package/config/buildroot-config/auto.conf
package/config/buildroot-config/autoconf.h
package/config/buildroot-config/br2/target/debugging.h
package/config/buildroot-config/br2/uclibc/version/string.h
package/config/conf
package/config/conf.o
package/config/kxgettext.o
package/config/lex.zconf.c
package/config/zconf.hash.c
package/config/zconf.tab.c
package/config/zconf.tab.o
project_build_i586/*
toolchain_build_i586/*
project_build_arm/*
toolchain_build_arm/*
binaries/uclibc/*
linux
/sde
